.body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    height: 100vh;

    background: linear-gradient(to bottom left, #333333, #000000);
    
}
h1, h2, h3, p, a, li {
    

    background: linear-gradient(to bottom left, white, #cccccc);

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.header {
    
    padding: 25px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 100

}  
.nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 0px;
    margin: 15px;
    display: inline-block;
    font-size: 25px;
}
.gmail-logo {   
    width: 45px;
    height: 45px;
    cursor:pointer;
                
}
.GitHub-logo {
    width: 45px;
    height: 45px;
    cursor:pointer;
                
}
.discord-logo {
    width: 45px;
    height: 45px;
    cursor:crosshair;
                
}
.phone-logo {
    width: 45px;
    height: 45px;
    cursor:progress;
                
}

.social-links {
    display: flex;
    justify-content: left; /* Left align */
    gap: 15px; /* Optional spacing */
    padding: 6px 15px;
    position: absolute;
    bottom: 15px;

}
@media screen and (max-width: 1500px) {
  
  .social-links {
    justify-content: left; 
    bottom: 15px; 
  }
}

.social-links img {
    transition: filter,transform 0.2s ease;

}

.social-links img:hover {
    filter: grayscale(100%);
    transform: scale(1.2);

}

.underline {
    text-decoration: red;
    
}
.selfie {
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 20px;
    width: 100px;  /* adjust size */
    height: auto;
    

}
.essay1, .essay2, .essay3 {
    width: 500px;
    height: auto;
    margin: 20px;
}
.strat1, .strat2 {
    width: 500px;
    height: auto;
    margin: 20px;
}
.cv {
    width: 500px;
    height: auto;
    margin: 20px;
}
.home {
    padding-left: 750px;
    padding-right: 15px;
    position: absolute;
    top: 200px;
}

@media screen and (max-width: 1500px) {
  
  .home {
     
    padding-left: 15px;
    padding-right: 750px;
    top: 345px;
    
  }
}
.projects {
    padding-left: 750px;
    padding-right: 15px;
    position: absolute;
    top: 200px;
}
@media screen and (max-width: 1500px) {
  
  .projects {
     
    padding-left: 15px;
    padding-right: 750px;
    top: 345px;
    
  }
}
