.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #000000;
    color: #ffffff;
    margin: 0;
    height: 100vh;

    background: linear-gradient(to bottom left, #333333, #000000);
    
}
h1, h2, h3, p, a, li {
    

    background: linear-gradient(to bottom left, white, #cccccc);

    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* height: calc(100vh - 57px); */

}

.header {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-content: center;
    
   

    }  
    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    
        font-family: Arial, sans-serif;
        font-weight: 100;

    }
    .selfie {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        justify-content: flex-start;
    
    
    
    
        display: flex;
    

    }
.navHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;

    }
    /*@media screen and (max-width: 1000px) {
  
    .navHome {
        flex-direction: d;
        text-align: d;
        }
    }*/
    .nav a {
        
        text-decoration: none;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 20px 0px;
    }
    .home {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding-left: 200px;
        
        
    
    }

    .h2 {
        display: flex;
        justify-content: center;
        align-content: center;  
        text-align: center;

    }

.footer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px;
    background-color: #000000;
    margin: 0px 0px;
    flex-basis: auto;
    flex-shrink: 0;
    
}
    
.social-imgs img:hover {
    filter: grayscale(100%);
    transform: scale(1.2);

}
/*@media screen and (max-width: 1500px) {
  
  .social-imgs {
    justify-content: left; 
    bottom: 15px; 
  }
}*/
.social-imgs img {
    transition: filter,transform 0.2s ease;

    }
    .gmail-logo {   
        width: 45px;
        height: 45px;
        cursor:pointer;
                
    }
    .GitHub-logo {
        width: 45px;
        height: 45px;
        cursor:pointer;
                
    }
    .discord-logo {
        width: 45px;
        height: 45px;
        cursor:crosshair;
                
    }
    .phone-logo {
        width: 45px;
        height: 45px;
        cursor:progress;
                
    }
.underline {
    text-decoration: red;
    
}

.essay1, .essay2, .essay3 {
    width: 500px;
    height: auto;
    margin: 20px;
}
.strat1, .strat2 {
    width: 500px;
    height: auto;
    margin: 20px;
}
.cv {
    width: 500px;
    height: auto;
    margin: 20px;
}



.projects {
    padding-left: 750px;
    padding-right: 15px;
    position: relative;
    top: 200px;
}
/*@media screen and (max-width: 1500px) {
  
  .projects {
     
    padding-left: 15px;
    padding-right: 750px;
    top: 345px;
    
  }
}*/

